IMAP_CREDENTIALS_PASSWORD=s3cr3tp4ssw0rd
IMAP_CREDENTIALS_USERNAME=some@email.domain
IMAP_FORCE_SSL=TRUE
IMAP_FROM_ADDRESS=from@email.domain
IMAP_PORT=993
IMAP_SERVER=server.mail.domain
LOG_LEVEL=INFO
PRINTER_NAME=Printer_XYZ
PRINTER_SERVER=printer.server.domain
SCAN_INTERVAL=10
